{% load static %}

<footer id="footer">

    <div class="container">
        <div class="row">

            <div class="col-sm-4">

                <aside id="text-2" class="widget_text widget group">
                    <h3 class="widget-title">Holykane</h3>
                    <div class="textwidget">
                        <p>

                            Holykane is an independent solo artist, who seek to impact the world with his unique songs and aura.
                            He began in the year 2014 as a young producer and evolved into a vocal artist, same time finding his place in the entertainment industry.


                        </p>
                    </div>
                </aside>
                <aside id="socials-ignited-2" class="widget_socials_ignited widget group">
                    <h3 class="widget-title">Socials</h3>
                    <div class="ci-socials-ignited ci-socials-ignited-fa">
                        <a href="#" target="_blank" class="disabled" rel="nofollow"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/holy_kane/" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/oh_holykane" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/channel/UCqaX45IOEo89P1EMhr0g8oA" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i></a>
                    </div>
                </aside>
            </div>
            <div class="col-sm-4">
                <aside id="ci-instagram-feed-2" class="ci-instagram-feed widget group">
                    <h3 class="widget-title">Instagram</h3>
                    <div loading="lazy" data-mc-src="dae30a78-b1cb-4bab-b29a-00962c17b8e4#instagram"></div>

                    <script src="https://cdn2.woxo.tech/a.js#62f160aa4e9acadeedcec13c" async data-usrc>
                    </script>

                </aside>
            </div>
            <div class="col-sm-4">
                <aside id="ci_twitter_widget-2" class="widget_ci_twitter_widget widget group">
                    <h3 class="widget-title">Twitter</h3>
                    <div class="citwitterwidget2  tul">
                        <!-- <ul>
                            <li><span>You don't need a plugin for that #12: Prevent the checkout process if the customer has pending payments.… <a href="https://t.co/ZNClKAyQsf">https://t.co/ZNClKAyQsf</a></span> <a class="twitter-time" href="https://twitter.com/CSSIgniter/statuses/1493876549518606336">4 days ago</a></li>
                            <li><span>You don't need a plugin for that #11: Change the price display on variable products. #WooCommerce<a href="https://t.co/DwgXVfKWX4">https://t.co/DwgXVfKWX4</a></span> <a class="twitter-time" href="https://twitter.com/CSSIgniter/statuses/1485544246182617088">27 days ago</a></li>
                            <li><span>Building magazine websites with the full site editor and the upcoming pattern explorer will be fun again. <a href="https://t.co/fkxWyoOuvU">https://t.co/fkxWyoOuvU</a></span> <a class="twitter-time" href="https://twitter.com/CSSIgniter/statuses/1473334293774618629">2 months ago</a></li>
                            <li><span>You don't need a plugin for that #11: Display a notice on the single #WooCommerce product page.<a href="https://t.co/7xnOSVEvTJ">https://t.co/7xnOSVEvTJ</a></span> <a class="twitter-time" href="https://twitter.com/CSSIgniter/statuses/1471795092797235208">2 months ago</a></li>
                        </ul> -->
                        <div style="height: 360px;overflow: scroll;overflow-x: hidden;">

                            <a class="twitter-timeline dark" href="https://twitter.com/oh_holykane?ref_src=twsrc%5Etfw">Tweets by oh_holykane</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="container footer-credits">
        <div class="row">
            <div class="col-xs-12">
                <p> - A theme by CSSIgniter.com</p>
            </div>
        </div>
    </div>
</footer>